body {
    height: 100vh;
    width: 100vw;

    font-family: Arial;
    background: url("../assets/background.png") no-repeat center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;

    font-family: sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 3vw;
}

#login-button {
    position: absolute;

    top: 2rem;
    right: 2rem;

    padding: .5rem 1rem;
    font-size: .8vw;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: black;

    text-decoration: unset;
}

#chat-zone {
    height: auto;
    width: 60vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#chatbox {
    width: 100%;
    height: 40vh;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 1rem;
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
}

#send-zone {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    padding: 0.5rem;
}

button {
    width: auto;
    padding: 0.5rem;
}

.message {
    margin: 0.5rem 0;
}

.user {
    font-weight: bold;
}

.bot {
    color: green;
}
